@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

// screen

$breakpoint-small: 540px; // 540px
$breakpoint-med: 720px; // 720px
$breakpoint-large: 960px; // 960px
$breakpoint-big: 1080px; // 1080px


// colors

$text-color: #001855;
$gray: #00185580;
$light-gray: #0018551A;
$green: #31BA3F;
$red: #BA3131;
$start-gradient: #2194AD;
$end-gradient: #5221BB;
$gradient: -webkit-linear-gradient(45deg, #2194AD, #5221BB);
$visit-card-gradient: -webkit-linear-gradient(45deg, #2193ad99, #5221BB99);
$low-opacity-gradient: -webkit-linear-gradient(45deg, #2193ad1A, #5221BB1A);


// sizes

$content-text: 18px;
$normal-text: 24px;
$medium-text: 36px;
$big-text: 64px;
$letter-spacing: 0.8px;

$card-margins: 60px;
$card-margins-mobile: 20px;


// reset

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

a {
    text-decoration: none;
}


// globals

* {
    font-family: 'Nunito', sans-serif;
    color: $text-color;
}

h1 {
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $big-text;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    font-size: $medium-text;
    font-weight: normal;

}

h3 {
    font-size: $content-text;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    color: $gray;
}

p {
    font-size: $normal-text;
}

footer {
    margin-top: 150px;
    padding-bottom: 50px;
    text-align: center;

    @media screen and (max-width: $breakpoint-med) {
        visibility: hidden;
    }
}


// container

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: $breakpoint-small) {
        width: 80%;
    }

    @media only screen and (min-width: $breakpoint-large) {
        width: 75%;
        max-width: 60rem;
    }
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

// classes

.uppercased {
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
}

.text-gradient {
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


// components

// --- Navigation
.main-navigation {
    .navigation {
        margin: 45px 0;
    
        .nav-link {
            display: inline-block;
            margin: 0 25px;
        }
    }

    @media screen and (max-width: $breakpoint-med) {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: rgba(white, 0.2);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        
        .navigation {
            margin: 20px 0;
        }
    }
}

// --- VisitCard
.visit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    border-radius: 50px;
}

.visit-card-recto {
    @extend .visit-card;

    background: $visit-card-gradient;
    box-shadow: 0 0 20px #00000040;
    cursor: pointer;

    .title {
        font-size: $medium-text;
        font-weight: bold;
        text-align: center;
    }

    .hover-me-hint {
        @extend .title;

        font-size: 18px;
        color: #FFFFFF80;
    }
}

.visit-card-verso {
    @extend .visit-card;

    justify-content: stretch;
    background: white;
    box-shadow: -20px 0 20px -20px $end-gradient, // left
                -10px -10px 20px -20px $end-gradient, // left top
                -10px -10px 20px -20px $end-gradient, // left bottom
                20px 0 20px -20px $start-gradient, // right
                10px -10px 20px -20px $start-gradient, // right top
                10px 10px 20px -20px $start-gradient; // right bottom
    
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: $card-margins;
        height: calc(100% - 60px);

        .row {
            display: flex;
            align-items: center;
            font-size: $normal-text;

            img {
                margin-right: 27px;
            }

            .available {
                display: flex;
                color: $green;

                .pin {
                    display: block;
                    width: 36px;
                    height: 36px;
                    background-color: $green;
                }
            }

            &.available {
                color: $green;

                img {
                    margin-left: 6px;
                }
            }

            &.unavailable {
                color: $red;

                img {
                    margin-left: 6px;
                }
            }
        }

        @media screen and (max-width: $breakpoint-med) {
            margin: $card-margins-mobile;
        }
    }
}

// --- keywordlist
.keyword-list {
    .title {
        margin-bottom: 50px;
    }

    .content {
        display: grid;

        grid-template-columns: auto auto auto; /* 250px + "largeur restante" */
        grid-template-rows: 40px 40px 40px; /* 100px + "hauteur restante" */

        .keyword {
            a {
                color: $gray;

                &:hover {
                    background: $gradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            span {
                color: $gray;
                
                &.favorite {
                    background: $low-opacity-gradient;
                    padding: 8px;
                    border-radius: 15px;
                }
            }
        } 
    }
}

// --- projectinfo

.project-info {
    margin-top: 40px;

    p {
        font-size: $content-text;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

// --- gotop

.go-top {
    position: fixed;
    bottom: 180px;
    left: 40px;
    transform: rotateZ(-90deg);
    font-size: 18px;

    @media only screen and (max-width: $breakpoint-med) {
        display: none;
    }
}

// pages

// --- index
.welcome {
    display: flex;
    margin-top: 150px;

    div {
        flex: 1;
    }

    @media only screen and (max-width: $breakpoint-med) {
        flex-direction: column;
        margin-top: 50px;

        h1 {
            text-align: center;
        }
    }
}

.skills-socials {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;

    .keyword-list {
        flex: 40%;
    }

    @media only screen and (max-width: $breakpoint-med) {
        flex-direction: column;
        align-items: stretch;
        margin-top: 50px;

        .keyword-list {
            flex: 1;
            margin-top: 50px;
        }
    }
}

.quote {
    margin-top: 200px;

    .text {
        font-size: $big-text;
        margin-bottom: 50px;
    }

    .author {
        display: inline-block;
        font-size: $medium-text;
        width: 100%;
        text-align: right;
    }

    @media screen and (max-width: $breakpoint-med) {
        margin-top: 50px;

        .text {
            font-size: $medium-text;
        }

        .author {
            font-size: $normal-text;
        }
    }
}

// --- projects

.project-link {
    font-size: $big-text;
    text-align: center;
    margin: 100px 0;

    @media screen and (max-width: $breakpoint-med) {
        font-size: $medium-text;
    }
}

// --- project

.project-container {
    margin-top: 75px;

    .logo {
        display: block;
        height: 48px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .project-name {
        font-weight: normal;

        .close-icon {
            float: right;

            img {
                width: 48px;
                height: auto;
                filter: grayscale(1);
                opacity: 0.5;
                transition: opacity .5s ease, filter .5s ease;

                &:hover {
                    filter: grayscale(0);
                    opacity: 1;
                }
            }
        }
    }

    .group-info {
        display: flex;

        .info {
            flex: 1;
        }

        .desc {
            flex: 1;

            p {
                margin-top: 40px;
                font-size: $content-text;
                text-align: justify;
            }
        }
    }

    .image-mosaique {
        margin-top: 70px;
        text-align: center;
        h3 {
            margin-bottom: 50px;
            text-align: left;
        }
        img {
            margin: 20px;
            max-width: 100%;
            max-height: 70vh;
            border-radius: 20px;
            box-shadow: 0 0 20px #00000040;
        }
    }

    @media screen and (max-width: $breakpoint-med) {
        .project-name .close-icon {
            display: none;
        }

        .group-info {
            flex-direction: column;
        }
    }
}

// --- about

.about-container {
    margin-top: 100px;

    .flex {
        display: flex;
        align-items: center;

        .picture {
            flex: 1;
            text-align: center;
    
            img {
                width: 75%;
            }
        }
    
        .content {
            flex: 1;
            .title {
                font-size: $medium-text;
                font-weight: normal;
            }
        }

        @media screen and (max-width: $breakpoint-med) {
            flex-direction: column;

            .content .title {
                text-align: center;
            }
        }
    }

    .emojis {
        margin-top: 50px;
        font-size: $big-text;
        text-align: center;
    }
}

.contact-container {
    margin-top: 200px;

    h1 {
        text-align: center;
    }

    @media screen and (max-width: $breakpoint-med) {
        h1 {
            font-size: $medium-text;
        }
    }
}

// transitions

.fade-page-transition-enter-active, .fade-page-transition-leave-active {
    transition: opacity 250ms, transform 250ms;
}

.fade-page-transition-enter-active { 
    opacity: 1;
    transform: translateY(0px);
}

.fade-page-transition-enter { 
    opacity: 0;
    transform: translateY(-50px);
}

.fade-page-transition-leave-active {
    opacity: 0;
    transform: translateY(50px);
}